@import "./dist/scss/chartist.scss";

$default-font-color: #2e2e30;
$border-color: #d5d8ec;
$background-color: #ececec;
body {
  margin: 0;
  // font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto,
  //   Helvetica, Arial, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

.container {
  margin-left: 15%;
  width: 85%;
  height: 100%;
}

/* -----------------------------------
      SIDE BAR
----------------------------------- */
.side-nav {
  width: 15%;
  height: 100%;
  border-right: 1px solid $border-color;
  position: fixed;
  z-index: 1;

  .logo {
    margin-top: 30px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
    color: $default-font-color;
    span {
      margin-left: 10px;
    }
  }

  .user-infor {
    display: flex;
    height: 300px;
    border: 1px solid $border-color;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    color: $border-color;
    .user-image {
      width: 100px;
      height: 100px;
      border: 1px solid $border-color;
      border-radius: 50%;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      .user-outlined {
        font-size: 50px;
      }
    }

    .user-name {
      width: 200px;
      height: 50px;
      text-align: center;
      margin-top: 20px;
      border: 1px solid $border-color;
      line-height: 0.1;
      padding: 13px 0 10px 0;
      border-radius: 10px;
      background-color: $background-color;
      .name {
        font-size: 20px;
        color: $default-font-color;
        font-weight: 700;
      }
      .user-location {
        color: #5c5c61;
        font-size: 12px;
      }
    }
  }

  .sidebar-menu {
    //border: 1px solid $border-color;
    height: 400px;
    .page {
      margin: 30px 0 0 30px;
      font-weight: 500;
    }

    .sidebar-list {
      //border: 1px solid $border-color;
      padding-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: 0.5s all ease;
      li {
        width: 210px;
        height: 40px;
        //border: 1px solid $border-color;
        color: $default-font-color;
        font-size: 16px;
        list-style-type: none;
        margin-top: 20px;
        padding: 5px 0 0 10px;
        border-radius: 5px;
        transition: 0.5s all ease;
      }

      li:hover {
        background-color: $background-color;
      }

      span {
        margin-left: 5px;
      }
    }
  }

  .logout {
    //margin-top: 25px;
    width: 100%;
    height: 100px;
    //border: 1px solid $border-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .logout-btn {
      width: 150px;
      //height: 40px;
      //border: 1px solid $border-color;
      //font-size: 17px;
      border-radius: 5px;

      .logout-btn-text {
        margin-left: 5px;
        font-weight: 700;
      }
    }
  }
}

/* --------------------------------
      NAV BAR
-------------------------------- */
.nav-bar {
  width: 100%;
  border-bottom: 1px solid $border-color;
  height: 7%;
  display: flex;

  .nav-bar-link {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  .nav-bar-date-time {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding-left: 440px;

    span {
      margin-left: 5px;
    }
  }
}

/* ---------------------------------
      MAIN PAGE
-------------------------------- */
.main-content-container {
  width: 100%;
  min-height: 88%;
  padding: 40px;
  //background-color: $background-color;

  .main-content {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    //border: 1px solid $border-color;

    .main-content-row {
      width: 100%;
      //border: 1px solid $border-color;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      /* ---------------------------------
                OVERVIEW PAGE
      ---------------------------------  */
      .total-statistics {
        display: inline-flex;
        div {
          width: 15px;
          height: 15px;
          //border: 1px solid $border-color;
          background-color: #0468c5;
          margin-top: 7px;
          border-radius: 0.25rem;
        }

        p {
          margin-left: 15px;
          font-size: 18px;
          font-weight: 700;
        }
      }

      .main-content-total {
        width: auto;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        border: 1px solid $border-color;
        border-radius: 0.25rem;

        .main-content-total-component {
          width: 450px;
          height: 100px;
          display: flex;
          justify-content: space-between;
          padding-left: 35px;

          .main-content-total-component-number {
            width: 200px;
            height: 100%;
            //border: 1px solid $border-color;

            .total-number {
              font-size: 40px;
              font-weight: 700;
              margin: 0;
            }

            p {
              font-size: 15px;
              font-weight: 500;
              color: rgb(133, 133, 133);
              margin: -5px 0 0 5px;
            }
          }

          .main-content-total-component-chart {
            width: 200px;
            height: 100%;
            //border: 1px solid $border-color;
            border-radius: 0.25rem;
            box-sizing: border-box;
            overflow: hidden;
          }
        }
      }

      .main-content-chart {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        padding-left: 60px;
        width: 100%;
        height: 500pxnpm install chartist --save;
        .ct-series-a .ct-line {
          stroke: blue;
          stroke-width: 2px;
        }
        .ct-area {
          fill: blue;
        }

        .ct-series-a .ct-point {
          stroke: blue;
          stroke-width: 7px;
        }
        .chartist-tooltip {
          opacity: 0;
          position: absolute;
          margin: 20px 0 0 10px;
          background: rgba(0, 0, 0, 0.8);
          color: #fff;
          padding: 5px 10px;
          border-radius: 4px;
        }

        .chartist-tooltip.tooltip-show {
          opacity: 1;
        }
      }

      /* -------------------------------
              BOOKSLIST PAGE
      ------------------------------- */

      .row-btn-add {
        padding-right: 40px;
      }

      .books-list {
        display: inline-flex;
        padding-top: 30px;
        div {
          width: 15px;
          height: 15px;
          //border: 1px solid $border-color;
          background-color: #0468c5;
          margin-top: 7px;
          border-radius: 0.25rem;
        }

        p {
          margin-left: 15px;
          font-size: 18px;
          font-weight: 700;
        }
      }

      .books-table {
        width: 100%;
      }

      /* -------------------------------
              ADD NEW BOOK PAGE
      ------------------------------- */

      // .add-book-form {
      //   margin-top: 30px;
      //   width: 100%;
      //   display: flex;
      //   align-items: center;
      //   //justify-content: center;
      //   .book-form {
      //     width: 80%;
      //   }
      // }
    }
  }
}

//footer css
.footer {
  width: 100%;
  height: 5%;
  border-top: 1px solid $border-color;
  //border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-top: 10px;
  }
}

/* ----------------------------
      CHARTIST CSS
---------------------------- */
.totalBookChart {
  .ct-series-a .ct-line {
    stroke: blue;
    stroke-width: 1px;
  }
  .ct-area {
    fill: blue;
  }

  .ct-series-a .ct-point {
    stroke: blue;
    stroke-width: 1px;
  }
}

.totalBookForRentChart {
  .ct-series-a .ct-line {
    stroke: rgb(47, 180, 47);
    stroke-width: 1px;
  }
  .ct-area {
    fill: rgb(47, 180, 47);
  }

  .ct-series-a .ct-point {
    stroke: rgb(47, 180, 47);
    stroke-width: 1px;
  }
}
.totalBookRenterChart {
  .ct-series-a .ct-line {
    stroke: rgb(218, 51, 51);
    stroke-width: 1px;
  }
  .ct-area {
    fill: rgb(218, 51, 51);
  }

  .ct-series-a .ct-point {
    stroke: rgb(218, 51, 51);
    stroke-width: 1px;
  }
}
